<section
  class="bg-gradient-to-br from-gray-900 via-gray-800 to-gray-900 text-[var(--light)] px-10 md:px-30 py-10"
>
  <!-- Titlu + Buton -->
  <div
    class="flex flex-col sm:flex-row items-center justify-between gap-6 max-w-7xl mx-auto text-center sm:text-left"
  >
    <div class="flex items-center gap-4">
      <h1 class="text-3xl font-bold">{{ film.name }}</h1>

      <!-- Buton Wishlist -->
      <button
        (click)="toggleWishlist()"
        [ngClass]="{
          'text-[var(--button-cta)]': isWishlisted,
          'text-gray-400': !isWishlisted
        }"
        class="text-4xl hover:text-[var(--button-cta)] transition-colors duration-300 focus:outline-none cursor-pointer"
        title="Adaugă la wishlist"
      >
        <mat-icon>{{ isWishlisted ? "favorite" : "favorite_border" }}</mat-icon>
      </button>
    </div>

    <button
      class="bg-[var(--button-cta)] text-[var(--dark)] px-6 py-3 rounded-md cursor-pointer font-bold hover:bg-[var(--light)] transition-all duration-300 uppercase"
    >
      Cumpara bilete
    </button>
  </div>

  <!-- DOAR pe mobil: Expansion Panel -->
  <div class="mt-10 flex flex-col gap-6 sm:hidden">
    <mat-expansion-panel
      class="!bg-[var(--dark)] !text-[var(--light)] rounded-md shadow-lg"
    >
      <mat-expansion-panel-header
        class="bg-[var(--dark)] !text-[var(--light)] rounded-md border border-[var(--light)]"
      >
        <mat-panel-title class="font-bold text-lg uppercase">
          Detalii film
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="py-6 space-y-6 px-4">
        <p class="leading-relaxed text-justify">
          {{ film.description }}
        </p>
        <table class="w-full border-collapse border-y border-gray-700 text-sm">
          <tbody>
            <!-- Detalii film tabel -->
            <tr>
              <th
                class="border-y border-gray-600 p-3 text-left font-semibold uppercase"
                style="border-top: none"
              >
                Titlu Original
              </th>
              <td class="border-y border-gray-600 p-3" style="border-top: none">
                {{ film.name }}
              </td>
            </tr>
            <tr>
              <th
                class="border-y border-gray-600 p-3 text-left font-semibold uppercase"
              >
                Genul Filmului
              </th>
              <td class="border-y border-gray-600 p-3">
                Acțiune, Aventură, Comedie, Dramă, Familie, Fantastic
              </td>
            </tr>
            <tr>
              <th
                class="border-y border-gray-600 p-3 text-left font-semibold uppercase"
              >
                Distribuție
              </th>
              <td class="border-y border-gray-600 p-3">
                <span *ngIf="film?.filmActors?.length; else noActors">
                  <span *ngFor="let actor of film.filmActors; let last = last">
                    {{ actor?.name }}<span *ngIf="!last">, </span>
                  </span>
                </span>
                <ng-template #noActors>
                  <span>Niciun actor disponibil</span>
                </ng-template>
              </td>
            </tr>
            <tr>
              <th
                class="border-y border-gray-600 p-3 text-left font-semibold uppercase"
              >
                Formatul Proiecției
              </th>
              <td class="border-y border-gray-600 p-3">
                IMAX, IMAX 3D, 4DX, Dolby Atmos, 3D, 2D
              </td>
            </tr>
            <tr>
              <th
                class="border-y border-gray-600 p-3 text-left font-semibold uppercase"
              >
                Data Publicare
              </th>
              <td class="border-y border-gray-600 p-3">
                {{ film.releaseDate | date : "yyyy" }}
              </td>
            </tr>
            <tr>
              <th
                class="border-y border-gray-600 p-3 text-left font-semibold uppercase"
              >
                Rating Vârstă
              </th>
              <td class="border-y border-gray-600 p-3">{{ film.ageRating }}</td>
            </tr>
            <tr>
              <th
                class="border-y border-gray-600 p-3 text-left font-semibold uppercase"
              >
                Rating User
              </th>
              <td class="border-y border-gray-600 p-3">
                <div class="flex items-center gap-1">
                  <ng-container *ngIf="reviews.length > 0; else noReviews">
                    <span class="text-yellow-400">
                      <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                        {{ star <= averageRating ? "★" : "☆" }}
                      </ng-container>
                    </span>
                    <span class="text-sm text-gray-300">
                      ({{ averageRating | number : "1.1-2" }} / 5)
                    </span>
                  </ng-container>

                  <ng-template #noReviews>
                    <span class="text-gray-400 italic"
                      >Încă nu sunt review-uri</span
                    >
                  </ng-template>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-expansion-panel>
    <img
      [src]="film.image"
      alt="{{ film.name }}"
      class="w-90 mx-auto rounded-md shadow-2xl"
    />
  </div>

  <!-- DOAR pe desktop/tablet: Informații statice -->
  <div class="mt-10 hidden sm:block max-w-7xl mx-auto">
    <h2
      class="font-bold text-lg uppercase border-b border-[var(--light)] pb-2 mb-6"
    >
      Detalii film
    </h2>
    <div class="space-y-6 px-4 sm:px-6">
      <p class="max-w-4xl mx-auto leading-relaxed text-justify sm:text-left">
        {{ film.description }}
      </p>
      <div class="flex justify-between">
        <table
          class="max-w-5xl border-collapse border-y border-gray-700 text-sm"
        >
          <!-- Tabel identic cu cel de pe mobil -->
          <tbody>
            <tr>
              <th
                class="border-y border-gray-600 p-3 text-left font-semibold uppercase"
                style="border-top: none"
              >
                Titlu Original
              </th>
              <td class="border-y border-gray-600 p-3" style="border-top: none">
                {{ film.name }}
              </td>
            </tr>
            <tr>
              <th
                class="border-y border-gray-600 p-3 text-left font-semibold uppercase"
              >
                Genul Filmului
              </th>
              <td class="border-y border-gray-600 p-3">
                Acțiune, Aventură, Comedie, Dramă, Familie, Fantastic
              </td>
            </tr>
            <tr>
              <th
                class="border-y border-gray-600 p-3 text-left font-semibold uppercase"
              >
                Distribuție
              </th>
              <td class="border-y border-gray-600 p-3">
                <span *ngIf="film?.filmActors?.length; else noActors">
                  <span *ngFor="let actor of film.filmActors; let last = last">
                    {{ actor?.name }}<span *ngIf="!last">, </span>
                  </span>
                </span>
                <ng-template #noActors>
                  <span>Niciun actor disponibil</span>
                </ng-template>
              </td>
            </tr>
            <tr>
              <th
                class="border-y border-gray-600 p-3 text-left font-semibold uppercase"
              >
                Formatul Proiecției
              </th>
              <td class="border-y border-gray-600 p-3">
                IMAX, IMAX 3D, 4DX, Dolby Atmos, 3D, 2D
              </td>
            </tr>
            <tr>
              <th
                class="border-y border-gray-600 p-3 text-left font-semibold uppercase"
              >
                Data Publicare
              </th>
              <td class="border-y border-gray-600 p-3">
                {{ film.releaseDate | date : "yyyy" }}
              </td>
            </tr>
            <tr>
              <th
                class="border-y border-gray-600 p-3 text-left font-semibold uppercase"
              >
                Rating Vârstă
              </th>
              <td class="border-y border-gray-600 p-3">
                {{ film.ageRating }}+
              </td>
            </tr>
            <tr>
              <th
                class="border-y border-gray-600 p-3 text-left font-semibold uppercase"
              >
                Rating User
              </th>
              <td class="border-y border-gray-600 p-3">
                <div class="flex items-center gap-1">
                  <ng-container *ngIf="reviews.length > 0; else noReviews">
                    <span class="text-yellow-400">
                      <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                        {{ star <= averageRating ? "★" : "☆" }}
                      </ng-container>
                    </span>
                    <span class="text-sm text-gray-300">
                      ({{ averageRating | number : "1.1-2" }} / 5)
                    </span>
                  </ng-container>

                  <ng-template #noReviews>
                    <span class="text-gray-400 italic"
                      >Încă nu sunt review-uri</span
                    >
                  </ng-template>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <img [src]="film.image" alt="{{ film.name }}" class="w-80" />
      </div>
    </div>
  </div>

  <!-- Review Section -->
  <div
    class="mt-12 max-w-4xl mx-auto bg-gray-800 text-[var(--light)] p-6 rounded-lg shadow-xl"
  >
    <h3 class="text-xl font-bold mb-4 uppercase">Adaugă review</h3>

    <!-- Star Rating -->
    <div
      class="flex items-center gap-2 mb-4 text-2xl text-[var(--button-cta)] cursor-pointer"
    >
      <span
        *ngFor="let star of displayedStars; let i = index"
        (mouseenter)="onStarEnter(i)"
        (mouseleave)="onStarLeave()"
        (click)="onStarClick(i)"
      >
        {{ star }}
      </span>
    </div>

    <!-- Textarea -->
    <textarea
      [value]="reviewText"
      (input)="onTextChange($any($event.target).value)"
      rows="4"
      maxlength="200"
      placeholder="Scrie părerea ta aici..."
      class="w-full bg-gray-700 text-[var(--light)] p-4 rounded-md focus:outline-none focus:ring-2 focus:ring-[var(--button-cta)] mb-4"
    ></textarea>

    <!-- Submit Button -->
    <button
      (click)="submitReview()"
      class="bg-[var(--button-cta)] text-[var(--dark)] px-6 py-2 text-sm cursor-pointer rounded-md font-bold uppercase hover:bg-[var(--light)] transition-all duration-300"
    >
      Trimite review
    </button>

    <!-- Success Message -->
    <p *ngIf="reviewSubmitted" class="text-[var(--light)] font-medium mt-4">
      Mulțumim pentru review!
    </p>
  </div>

  <!-- Carusel Review-uri -->
  <div class="mt-12 max-w-6xl mx-auto w-full relative">
    <h3 class="text-xl font-bold uppercase mb-6 text-[var(--light)]">
      Review-uri utilizatori
    </h3>

    <div class="relative">
      <!-- Buton stânga -->
      <button
        class="hidden sm:flex items-center justify-center cursor-pointer absolute -left-6 top-1/2 -translate-y-1/2 bg-gray-700 hover:bg-gray-600 text-white p-2 rounded-full shadow-lg z-10"
        (click)="scrollReviews('left')"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>

      <!-- Container scroll -->
      <div
        #reviewsContainer
        class="flex overflow-x-auto scroll-smooth snap-x snap-mandatory space-x-6 py-6 px-2 sm:px-0 [&::-webkit-scrollbar]:hidden"
      >
        <!-- Spațiu la început -->
        <div class="shrink-0 w-4 sm:w-6"></div>

        <!-- Carduri review -->
        <ng-container *ngFor="let review of reviews">
          <mat-card
            class="snap-start flex-shrink-0 w-full sm:w-[calc(33.3333333%-1rem)] min-w-[280px] !bg-gray-800 text-[var(--light)] p-6 rounded-xl shadow-xl flex flex-col justify-between sm:hover:scale-105 transition-all duration-200"
          >
            <div class="mb-4">
              <div class="flex items-center justify-between mb-2">
                <span class="text-lg font-semibold">
                  {{ review.user.name || "Anonim" }}
                </span>
                <span class="text-[var(--button-cta)] text-lg font-semibold">
                  <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                    {{ star <= review.rating ? "★" : "☆" }}
                  </ng-container>
                </span>
              </div>
              <!-- Comentariu cu wrap pe mai multe linii -->
              <p class="text-sm leading-relaxed whitespace-normal break-words">
                {{ review.comment }}
              </p>
            </div>
            <p class="text-sm text-gray-400 italic">
              {{ review.date | date : "dd.MM.yyyy" }}
            </p>
          </mat-card>
        </ng-container>

        <!-- Spațiu la final -->
        <div class="shrink-0 w-4 sm:w-6"></div>
      </div>

      <!-- Buton dreapta -->
      <button
        class="hidden sm:flex items-center justify-center cursor-pointer ml-2 absolute -right-6 top-1/2 -translate-y-1/2 bg-gray-700 hover:bg-gray-600 text-white p-2 rounded-full shadow-lg z-10"
        (click)="scrollReviews('right')"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</section>
