* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host {
  font-family: 'Segoe UI', sans-serif;
<<<<<<< HEAD
  background-color: #1A2130;
=======
  background-color: #5A72A0;
>>>>>>> d8907fadb5b707183763ebe14e7c1749a734f40d
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
=======
}
:host {
  font-family: 'Segoe UI', sans-serif;
  background-color: #5A72A0;
>>>>>>> d8907fadb5b707183763ebe14e7c1749a734f40d
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding-left: 10px;
}

mat-label {
  padding-left: 10px;
}

.login-container {
  width: 100%;
  max-width: 1100px;
  padding: 30px;
}
.login-container {
  width: 100%;
  max-width: 1100px;
  padding: 30px;
}
  
.login-box {
  display: flex;
  width: 100%;
<<<<<<< HEAD
  background-color: #5A72A0;
=======
  background-color: #83b4ff;
>>>>>>> d8907fadb5b707183763ebe14e7c1749a734f40d
  border-radius: 16px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}


.login-left {
<<<<<<< HEAD
  background-color: #5A72A0;
=======
  background-color: #83b4ff;
>>>>>>> d8907fadb5b707183763ebe14e7c1749a734f40d
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
<<<<<<< HEAD
  border-radius: 10px;
=======
>>>>>>> d8907fadb5b707183763ebe14e7c1749a734f40d
}

.login-left h2 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #2c3e50;
  text-align: center;
}

.login-left button {
  width: 100%;
  padding: 12px;
<<<<<<< HEAD
  background-color: #5A72A0;
=======
  background-color: #1772d2;
>>>>>>> d8907fadb5b707183763ebe14e7c1749a734f40d
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-top: 10px;
}

<<<<<<< HEAD
.login-left button {
  background-color: #0056b3;
}

.login-left button:hover {
  background-color: #83B4FF;
=======
.login-left button:hover {
  background-color: #0056b3;
>>>>>>> d8907fadb5b707183763ebe14e7c1749a734f40d
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.login-button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 10px;
}

.register-link {
  margin-top: 25px;
  text-align: center;
  font-size: 15px;
  color: #444;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
}

.login-right {
  flex: 1;
<<<<<<< HEAD
  background-color: #FDFFE2;
=======
  background-color: #fdffe2;
>>>>>>> d8907fadb5b707183763ebe14e7c1749a734f40d
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
<<<<<<< HEAD
  border-radius: 10px;
=======
>>>>>>> d8907fadb5b707183763ebe14e7c1749a734f40d
}

.login-right img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
<<<<<<< HEAD
} 
=======
}
>>>>>>> d8907fadb5b707183763ebe14e7c1749a734f40d
