@import "tailwindcss";


body{
    padding:0;
    margin:0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

:root {
  --color-dark: #1A2130;
  --color-primary: #5A72A0;
  --color-accent: #83B4FF;
  --color-light: #FDFFE2;
}
  
.arrow {
  transition: transform 0.5s ease-in-out !important;
  display: inline-block !important;
  vertical-align: middle !important;
}
