.vezi-bilet {
  background-color: #5a72a0;
  color: white;          /* change text color */
  font-weight: bold;   /* make text bold */
  padding: 5px;
  border-radius: 15px;
  /* add any other styles you want */
}

.vezi-bilet:hover {
    background-color: #323c50;
}

*{
  color: white;
}

