<div class="row">
  <div class="column">
    <form [formGroup]="addScreeningRoomForm" (ngSubmit)="onSubmit()">
      <div class="label-input">
        <mat-label>Screening Room Name:</mat-label>
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="name"
            required
            type="text"
          />
          <mat-error *ngIf="hasError('name', 'required')"
            >Name is required</mat-error
          >
        </mat-form-field>
      </div>

      <div class="label-input">
        <mat-label>Number of Rows:</mat-label>
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="numOfRows"
            required
            type="number"
          />
          <mat-error *ngIf="hasError('numOfRows', 'required')"
            >Number of rows is required</mat-error
          >
        </mat-form-field>
      </div>

      <div class="label-input">
        <mat-label>Number of Seats Per Row:</mat-label>
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="numOfSeatsPerRow"
            required
            type="number"
          />
          <mat-error *ngIf="hasError('numOfSeatsPerRow', 'required')"
            >Number of seats per row is required</mat-error
          >
        </mat-form-field>
      </div>

      <div class="label-input">
        <mat-label>Format</mat-label>
        <mat-form-field appearance="outline" class="mat-form-field">
          <input
            matInput
            formControlName="format"
            required
            type="text"
            class="mat-form-text"
          />
          <mat-error *ngIf="hasError('format', 'required')"
            >Format is required</mat-error
          >
        </mat-form-field>
      </div>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!addScreeningRoomForm.valid"
      >
        Submit
      </button>
    </form>
  </div>
</div>