.form-style{
  color: oklch(76.9% 0.188 70.08);
}
button-style {
  background-color: oklch(76.9% 0.188 70.08);
  transition: color 0.3s ease;
}

.button-style:hover {
  background-color: oklch(56.9% 0.188 70.08); 
}

.button-style:active {
  background-color: oklch(46.9% 0.188 70.08); 
}

.row {
  display: flex;
}
.column {
  flex: 50%;
  padding: 40px;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -350px;
}
.label-input{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
mat-label{
  width: 200px;
  transform: translateY(10px);
}