.card {
  padding: 20px;
  width: 95%;
  margin-bottom: 20px;
  border-radius: 12px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  /* background-color: #d7e7fa; */
  cursor: pointer;
}

.card h2 {
  margin-top: 0;
  /* color: #5a72a0; */
  color: white;
}

.card p {
  color: rgb(225, 225, 225);
  font-size: 14px;
}
